$cor-botoes-verde: #6C9018;
$cor-botoes-verde-hover: #9AC407;
$cor-botoes-azul: #2B475E;
$cor-botoes-azul-hover: #437EA0;
$cor-tetxo-botao-azul: #67c1f5 ;
$cor-blocos: #16202D;
$cor-texto1: #fff;
$cor-texto2: #A4B0BD;
$cor-texto3: #2DA2F5;
$cor-texto-descricao: #C6D4D4;