.main {
  justify-content: center;
  display: grid;
  grid-template-areas: "main1 main1" "main2 main3";
}
.main h2, .main a, .main span, .main h3, .main button {
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.6);
}
.main .main1 {
  grid-area: main1;
  width: 100rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.main .main1 .menu {
  width: 100%;
  height: 10rem;
  margin-bottom: 3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.main .main1 .menu .carrinho {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
}
.main .main1 .menu .carrinho .carrinho-botao {
  height: 100%;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #6C9018;
  border-radius: 0.3rem;
  color: #fff;
  box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.75);
}
.main .main1 .menu .carrinho .carrinho-botao:hover {
  background-color: #9AC407;
}
.main .main1 .menu .ul-menu {
  width: 100rem;
  height: 4.5rem;
  color: #fff;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #3178B3 0%, #1A387C 70%);
}
.main .main1 .menu .ul-menu .li-menu {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.main .main1 .menu .ul-menu .li-menu a {
  color: #fff;
}
.main .main1 .menu .ul-menu .li-menu:hover {
  background: linear-gradient(90deg, #3178B3 0%, #1A387C 70%);
}
.main .main1 .menu .ul-menu .buscar::-moz-placeholder {
  color: #171D25;
}
.main .main1 .menu .ul-menu .buscar::placeholder {
  color: #171D25;
}
.main .main1 .menu .ul-menu .buscar {
  margin-left: 3rem;
  width: 16rem;
  height: 75%;
  border-radius: 0.3rem;
  padding-left: 2rem;
  background-color: #316282;
  color: #171D25;
}
.main .main1 .menu .ul-menu i {
  color: #171D25;
  position: relative;
  right: 2.5rem;
}
.main .main1 .todos-os-produtos, .main .main1 span {
  color: #A4B0BD;
}
.main .main1 .todos-os-produtos:hover {
  color: #fff;
}
.main .main1 h2 {
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.main .main1 .trailer-e-descricao {
  height: 45rem;
  display: flex;
  justify-content: space-between;
  background-color: #16202D;
}
.main .main1 .trailer-e-descricao .trailer iframe {
  margin-bottom: 0.5rem;
}
.main .main1 .trailer-e-descricao .trailer img {
  width: 12.3rem;
}
.main .main1 .trailer-e-descricao .descricao {
  width: 35rem;
}
.main .main1 .trailer-e-descricao .descricao img {
  width: 35rem;
  margin-bottom: 1.5rem;
}
.main .main1 .trailer-e-descricao .descricao p {
  color: #C6D4D4;
  margin-right: 1rem;
}
.main .main1 .trailer-e-descricao .descricao ul {
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #A4B0BD;
}
.main .main1 .trailer-e-descricao .descricao ul li {
  margin-bottom: 1rem;
}
.main .main1 .trailer-e-descricao .descricao ul a {
  color: #2DA2F5;
  text-decoration: underline;
}
.main .main2 {
  grid-area: main2;
  height: 115rem;
  width: 67rem;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  color: #fff;
}
.main .main2 .adicionar-jogo {
  height: 8rem;
  background: linear-gradient(90deg, #32414F 0%, #566473 70%);
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .main2 .preco-e-botao {
  width: 28rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 0.3rem;
  position: relative;
  bottom: 2rem;
  left: 35rem;
}
.main .main2 .preco-e-botao button {
  width: 15rem;
  height: 3rem;
  background-color: #6C9018;
  border-radius: 0.3rem;
  color: #fff;
  margin-left: 3rem;
  box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 1px 16px 0px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}
.main .main2 .preco-e-botao button:hover {
  background-color: #9AC407;
}
.main .main2 .sobre-o-jogo {
  margin-top: 3rem;
}
.main .main2 .sobre-o-jogo h3 {
  color: #fff;
  border-bottom: 1px solid #3178B3;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.main .main2 .sobre-o-jogo p {
  color: #A4B0BD;
  margin-bottom: 2rem;
}
.main .main2 .sobre-o-jogo img {
  width: 100%;
  margin-bottom: 2rem;
}
.main .main3 {
  grid-area: main3;
  width: 30rem;
  height: 100rem;
  display: flex;
  flex-direction: column;
}
.main .main3 .quantidade-jogador-fnaf {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16202D;
  color: #fff;
  margin-bottom: 3rem;
}
.main .main3 .quantidade-jogador-fnaf a {
  width: 25rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #213748;
  border-radius: 0.3rem;
  color: #2DA2F5;
}
.main .main3 .quantidade-jogador-fnaf a i {
  margin-right: 2rem;
  color: #fff;
}
.main .main3 .quantidade-jogador-fnaf a:hover {
  background-color: #59A8D5;
  color: #fff;
}
.main .main3 .quantidade-jogador-st6 {
  height: 22rem;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #16202D;
  color: #fff;
  margin-bottom: 3rem;
}
.main .main3 .quantidade-jogador-st6 a {
  width: 28rem;
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #213748;
  border-radius: 0.3rem;
  color: #2DA2F5;
}
.main .main3 .quantidade-jogador-st6 a i {
  margin-right: 2rem;
  color: #fff;
}
.main .main3 .quantidade-jogador-st6 a:hover {
  background-color: #59A8D5;
  color: #fff;
}
.main .main3 .quantidade-jogador-bg3 {
  height: 17rem;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #16202D;
  color: #fff;
  margin-bottom: 3rem;
}
.main .main3 .quantidade-jogador-bg3 a {
  width: 28rem;
  padding: 1rem;
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #213748;
  border-radius: 0.3rem;
  color: #2DA2F5;
}
.main .main3 .quantidade-jogador-bg3 a i {
  margin-right: 2rem;
  color: #fff;
}
.main .main3 .quantidade-jogador-bg3 a:hover {
  background-color: #59A8D5;
  color: #fff;
}
.main .main3 .classificacao {
  background-color: #16202D;
  color: #fff;
}
.main .main3 .classificacao .classificacao1 {
  padding: 2rem;
  display: flex;
}
.main .main3 .classificacao .classificacao1 img {
  margin-right: 1rem;
}
.main .main3 .classificacao .classificacao2 {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}/*# sourceMappingURL=jogo.css.map */