@import 'variaveis';


.main {
    justify-content: center;
    display: grid;
    grid-template-areas:
    'main1 main1'
    'main2 main3';

    // div {
    //     border: 1px solid white;
    // }

    h2, a, span, h3, button{
        text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.6);
    }

    .main1{
        grid-area: main1;
        width: 100rem;
        margin-top: 1rem;
        margin-bottom: 3rem;

        .menu{
            width: 100%;
            height: 10rem;
            margin-bottom: 3rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            // justify-content: flex-start;

            .carrinho{
                width: 100%;
                height: 3rem;
                display: flex;
                justify-content: flex-end;

                .carrinho-botao{
                    height: 100%;
                    padding: 0.5rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    background-color: $cor-botoes-verde;
                    border-radius: 0.3rem;
                    color: #fff;
                    box-shadow: -2px 1px 16px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -2px 1px 16px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -2px 1px 16px 0px rgba(0,0,0,0.75);
                }

                .carrinho-botao:hover{
                    background-color: $cor-botoes-verde-hover;
                }
            }

            .ul-menu{
                width: 100rem;
                height: 4.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                background: linear-gradient(90deg, #3178B3 0%, #1A387C 70%);

                .li-menu{
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    a {
                        color: #fff;
                    }
                }

                .li-menu:hover{
                    background: linear-gradient(90deg, #3178B3 0%, #1A387C 100%);
                }

                .buscar::placeholder{
                    color: #171D25;
                }

                .buscar{
                    margin-left: 3rem;
                    width:16rem;
                    height: 75%;
                    border-radius: 0.3rem;
                    padding-left: 2rem;
                    background-color: #316282;
                    color: #171D25;
                }

                i{
                    color: #171D25;
                    position: relative;
                    right: 2.5rem;
                }

            }

        }

        .todos-os-produtos, span {
            color: $cor-texto2;
        }

        .todos-os-produtos:hover{
            color: #fff;
        }

        h2{
            color: #fff;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }

        .trailer-e-descricao{
            height: 45rem;
            display: flex;
            justify-content: space-between;
            background-color: $cor-blocos;

            .trailer{

                iframe{
                    margin-bottom: 0.5rem;
                }
                img{
                    width: 12.3rem;
                }
            }

            .descricao{
                width: 35rem;

                img{
                    width: 35rem;
                    margin-bottom: 1.5rem;
                }

                span{
                    color: $cor-texto-descricao;
                }

                ul{
                    margin-top: 2rem;
                    font-size: 1.2rem;
                    color: $cor-texto2;
                    li{
                        margin-bottom: 1rem;
                    }
                    a{
                        color: $cor-texto3;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .main2{
        grid-area: main2;
        height: 100rem;
        width: 67rem;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;
        color: $cor-texto1;

        .adicionar-jogo{
            height: 8rem;
            background: linear-gradient(90deg, #32414F 0%, #566473 70%);
            border-radius: 0.5rem;
            padding-left: 2rem;
            padding-right: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .preco-e-botao{
            width: 28rem;
            height: 4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            border-radius: 0.3rem;
            position: relative;
            bottom:2rem;
            left: 35rem;

            button{
                width: 15rem;
                height: 3rem;
                background-color: $cor-botoes-verde;
                border-radius: 0.3rem;
                color: $cor-texto1;
                margin-left: 3rem;
                box-shadow: -2px 1px 16px 0px rgba(0,0,0,0.75);
                -webkit-box-shadow: -2px 1px 16px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: -2px 1px 16px 0px rgba(0,0,0,0.75);
                transition: 0.5s;
            }
        }
    }

    .main3{
        grid-area: main3;
        width: 30rem;
        height: 100rem;
        display: flex;
        flex-direction: column;
    }
}