/* @root {
    #184454
    #18394A
    #1B2838
    #2A465D
    #171D25
} */

* {
    border:0;
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}
.container {
    margin: 0 auto;
    width: 100vw;
    height: 100vh; 
    display: grid;
    grid-template-rows: 13rem 1fr 13rem;
}
header {
    width: 100vw;
    height: 13rem;
    display: flex;
    align-items: center;
    background: #171D25;
    color: #fff;
    gap: 4rem;
}
.menu {
    width: 85rem;
    display: flex;
    height: 13rem;
    justify-content: end;
    gap: 3rem;
    align-items: center;
}
.logo {
    background: url(../img/logo_steam.svg);
    background-size: cover;
    height: 5rem;
    width: 16.5rem;
}
.abas {
    display: flex;
    width: 43rem;
    align-items: center;
    justify-content: center;
}
.abas ul {
    display: flex;
    justify-content: center;
    align-items:center;
}
.abas ul li{
    color: #fff;
    width: 10rem;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2rem;
}
.menu-2 {
    margin-top: 1rem;
    display: flex;
    height: 13rem;
    width: 35.5rem;
    gap: 2rem;
    justify-content: center;
}
.menu-2 button {
    width: 12.2rem;
    height: 2.5rem;
    background: #6C9018;
    color: #fff;
    gap: .5rem;
}
.menu-2 span {
    margin-top: .5rem;
    font-size: 1.3rem;
}

main {
    background: linear-gradient(90deg, rgba(26,41,58,1) 0%, rgba(32,62,90,1) 19%);
    display: grid;
    grid-template-areas: 
    "aside nav"
    "aside destaque"
    "aside recomenda"
    "aside main-cont";  
    grid-template-columns: 30rem 83rem;
    grid-template-rows: 8.5rem 43rem 1fr 10rem;
}

nav{
    grid-area: nav;
    display:flex;
    gap:.1rem;
    flex-direction: column;
    align-items: end;
}
nav button{
    width: 12rem;
    border-radius: .3rem;
}
.nav {
    border: .1rem solid black;
    width: 75rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.nav ul {
    display: flex;
    justify-content: center;
    align-items:center;
}
.nav ul li{
    color: #fff;
    width: 8rem;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.2rem;
}
.nav ul li:nth-child(2){
    width: 16rem;
}
.nav ul li:nth-child(4){
    width: 10rem;
}
.nav ul li:hover{
    height: 3rem;
    background-color: #fff;
}


aside{
    grid-area: aside;
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vale {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 12rem;
    gap: .5rem;

}
.presente {
    background: url(../img/steamcards.png);
    width: 10rem;
    height: 6rem;
    background-size: cover;
}
.vale h4{
    font-size: 1.5rem;
    color: #88bde9;

}
.vale span{
    font-size: 1.3rem;
    color: #a4b3c4;
    font-weight: bold;
}

.recomendados, .categorias, .genero {
    width: 25rem;
    height: 10rem;
    color: #a4b3c4;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}
.recomendados, .categorias, .genero, h4{
    font-size: 1.5rem;
    color: #536F86;
}
.recomendados, .categorias, .genero span{
    font-size: 1.5rem;
    color: #7A8B9D;
    font-weight: bold;
}
.categorias {
    height: 15.3rem;
}
destaque{
    grid-area: destaque;
}
destaque span{
    margin-left:8rem;
    color: #fff;
}
.slider{
    margin-left:8rem;
    margin-top:1rem;
    width: 74.5rem;
    height: 40rem;
    overflow: hidden;

}

.slides{
    width: 300%;
    height: 40rem;
    display: flex;

}

.slides input {
    display: none;
}

.slide {
    position: relative;
    transition: 2s;
    
}

.slide img {
    width: 75rem;
}

.manual-navigation {
    position: relative;
    width: 80rem;
    margin-top: -2rem;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: .2rem solid #fff;
    padding: .5rem;
    width: 3rem;
    height: 1rem;
    border-radius:.5rem;
    cursor:pointer;
    transition: .05s;
}

.manual-btn:not(:last-child){
    margin-right: 2rem;
}
.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0%;
}
#radio2:checked ~ .first{
    margin-left: -33.8%;
}
#radio3:checked ~ .first{
    margin-left: -67.1%;
}
#radio4:checked ~ .first{
    margin-left: -100.8%;
}
#radio5:checked ~ .first{
    margin-left: -134.4%;
}
#radio6:checked ~ .first{
    margin-left: -168%;
}

.navigation-auto div{
    border: .2rem solid #fff;
    padding: .5rem;
    width: 3rem;
    height: 1rem;
    border-radius:.5rem;
    cursor:pointer;
    transition: .05s;
}

.navigation-auto{
    position: absolute;
    width: 80rem;
    margin-top: 38rem;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 2rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background-color: #fff;
}
#radio6:checked ~ .navigation-auto .auto-btn6{
    background-color: #fff;
}


recomenda{
    grid-area: recomenda;
}

recomenda .ofertas {
    height: 36rem;
    margin-left: 8rem;
    margin-top: 3rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
}
recomenda .ofertas .ofertas-top{
    display:flex;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}
recomenda .ofertas .ofertas-top span{
    align-self: end;
}
recomenda .ofertas .ofertas-top button {
    display: flex;
    color: #fff;
    width: 12rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    background: none;
    border: .1rem solid #fff;
    border-radius: .3rem;
    font-size: 1rem;
}
recomenda .ofertas .oferta {
    display: grid;
    width: 75rem;
    height: 33rem;
    grid-template-areas: 
    'ofer1 ofer1-2 ofer2'
    'ofer1 ofer1-2 ofer2-2';
    grid-template-columns: 23rem 23rem;
    grid-template-rows: 16.5rem;
}
recomenda .ofertas .oferta .ofer1{
    grid-area: ofer1;
    border: .1rem solid black;
    height: 32.5rem;
    width:22.2rem;
}
recomenda .ofertas .oferta .ofer1 .img{
    height: 20rem;
    width: 22rem;
    background: url(../img/main/oferta1.jpg);
    background-size: cover;
}
recomenda .ofertas .oferta .ofer1:nth-child(1){
    grid-area: ofer1-2;
}
recomenda .ofertas .oferta .ofer1 .price{
    height: 12.2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: url(../img//main/background.jpg);
    background-size: cover;
}
recomenda .ofertas .oferta .ofer1 .price h4{
    margin-left: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}
recomenda .ofertas .oferta .ofer1 .price span:nth-child(2){
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
recomenda .ofertas .oferta .ofer1 .price .preco{
    width:11rem;
    height: 3rem;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7EC11;
    background: #4C6B22;
    margin-left: 1.5rem;
}

recomenda .ofertas .oferta .ofer1:nth-child(1) .img{
    background: url(../img/main/oferta2.jpg);
    background-size: cover;
}
recomenda .ofertas .oferta .ofer2{
    grid-area: ofer2;
    border: .1rem solid black;
    height: 16rem;
    width:29.7rem;
}
recomenda .ofertas .oferta .ofer2 .img{
    height: 11.7rem;
    width: 29.5rem;
    background: url(../img/main/fnaf\ promo.jpg);
    background-size: 30rem;
    background-position-y: -.5rem;
}
recomenda .ofertas .oferta .ofer2 .price{
    background: #abdaf4;
    height: 4rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
recomenda .ofertas .oferta .ofer2 .price h4{
    font-size: 1.2rem;
    font-weight:100;
    color: #000;
}
recomenda .ofertas .oferta .ofer2 .price .preco{
    width:11rem;
    height: 3rem;
    font-size: 2.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B7EC11;
    background: #4C6B22;
    margin-left: 1.5rem;
}
recomenda .ofertas .oferta .ofer2:nth-child(4){
    grid-area:ofer2-2;
}
recomenda .ofertas .oferta .ofer2:nth-child(4) .img{
    background: url(../img/main/sf6\ promo.jpg);
    background-size: 30rem;
    background-position-y: -2rem;
}
recomenda .categoria{
    border: .1rem solid black;
    height: 20rem;
    margin-left: 8rem;
}

recomenda .categoria .cat{
    display:flex;
    border: .1rem solid black;
    height: 15rem;
}

recomenda .categoria .cat .box-cat{
    border: .1rem solid black;
    height:15rem;
    width:15rem;
    background: url(../img/main/cidade.png);
    background-size: cover;
}
recomenda .categoria .cat .box-cat:nth-child(2){
    background: url(../img/main/drama.png);
    background-size: cover;
}
recomenda .categoria .cat .box-cat:nth-child(3){
    background: url(../img/main/estrategia.png);
    background-size: cover;
}
recomenda .categoria .cat .box-cat:nth-child(4){
    background: url(../img/main/simulacao.png);
    background-size: cover;
}

recomenda .navegar {
    border: .1rem solid black;
    margin-left:8rem;
    height: 8rem;
}

recomenda .navegar .nav-container{
    border: .1rem solid black;
    display: flex;
    height: 15rem;
}
recomenda .navegar .nav-container .nav-box{
    border: .1rem solid black;
    height: 5rem;
    width: 17rem;
}

main-cont{
    grid-area: main-cont;
}

footer {
    background: #171A21;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8F886F;
    

}
.info {
    width: 95rem;   
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap:1rem
}
.logos {
    border-top: .2rem solid #363C44;
    padding-top: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.valve {
    background: url(../img/footerLogo_valve_new.png);
    background-size: 9rem;
    background-repeat: no-repeat;
    width: 9rem;
    height: 5rem;
}

.steam {
    background: url(../img/logo_steam_footer.png);
    background-size: 9rem;
    background-repeat: no-repeat;
    width: 9rem;
    height: 5rem;
}

.desc {
    border-bottom: .2rem solid #363C44;
    padding-bottom: 1rem;
}